@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #0C53A6 21.43%,
    #003D82 50.63%,
    #002F63 100%,
    #141414 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px #003D82;
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #141414 21.43%,
    #002F63 50.63%,
    #003D82 100%,
    #0C53A6 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #141414 21.43%,
    #002F63 50.63%,
    #003D82 100%,
    #0C53A6 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#141414] to-[#0C53A6] font-bold font-primary hover:from-[#0C53A6] hover:to-[#141414];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
